
/* general styles*/
html{
    height: 100%;
}

html body{
    font-family: "robotoregular"; 
    display: flex;
    flex-direction: column;
    height: 100%;
}
.for_page{
    flex: 1 0 auto;
}

img{
    width: auto;
   /*  max-width: 100%;*/
}
p{
    margin-bottom: 20px;
}
button:focus{
    box-shadow: none;
}

.for_page a {
    text-decoration: none;
    -moz-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
    -webkit-transition: all ease 0.4s;
    -ms-transition: all ease 0.4s;
    transition: all ease 0.4s;
}

/* general styles*/

/* Header*/

.header{
    padding-top: 19px;
    position: relative;
    z-index: 2;
}
.nav ul{
    list-style: none;
    padding-top: 25px;
  
}
.nav ul li a{
    font-family: "robotolight_italic";
    display: block;
    text-decoration: none;
    margin-right: 46px;
    font-weight: 400;
    font-size: 16px;
    line-height: 115%;
    color: #fff;
}
.nav ul li:last-child a{
    margin-right: 0;
}
.card-head{
    position: relative;
    cursor: pointer;
}
.card-head svg{
    transition: all ease 0.5s;
}
.card-head svg:hover{
    transform: scale(1.2);
}
.card-head .card_count{
    background: #FED097;
    width: 20px;
    height: 21px;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    line-height: 115%;
    text-align: center;
    color: #031622;
    padding: 3px;
    position: absolute;
    left: 19px;
    top: -10px;
    }
/* Header*/


/*banner*/

.banner {
    padding-top: 391px; /* Було 298, додали 93 */
    padding-bottom: 50px;
    background: url(../img/Banner.jpg) no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    margin-top: -93px;
}
.text_banner h1{
    font-weight: 400;
    font-size: 81px;
    line-height: 100%;
    color: #fff;
    padding-bottom: 50px;
}
.text_banner .banner_btn{
    display: block;
    background: #225b93;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
    border-radius: 27px;
    width: 170px;
    height: 54px;
    padding: 15px 31px;
}
.text_banner .banner_btn:hover{
    background-color: rgb(58, 80, 80);
    color: rgb(251, 239, 239);
    text-decoration: none;
}
/*banner*/

/* Section information*/
.information{
    background: #08263F;
    padding-top: 141px;
    padding-bottom: 135px;
}
.box_information p{
    font-weight: 400;
    font-size: 36px;
    line-height: 128%;
    text-align: center;
    color: #fff;
}
.box_information h2 {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 19px;
    line-height: 158%;
    text-align: center;
    color: #fed097;
}
/* Section information*/

/* Promises*/
.promises{
    background: #edf3f6;
    padding-top: 71px ;
    padding-bottom: 92px;
    text-align: center;
}
.promises .sub-title{
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 36px;
    line-height: 111%;
    text-align: center;
    color: #031622; 
}
.promises-box img{
    display: block;
    margin: 0 auto 18px;
}
.promises-box .title-promises{
    margin-bottom: 33px;
    font-weight: 400;
    font-size: 24px;
    line-height: 108%;
    text-align: center;
    color: #031622;
}
.promises-box .text-promises{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #031622;
    
}
/* Promises*/

/* Our-Products*/

.our-products{
padding-top: 93px;
padding-top: 180px;
}
.our-products .boxes_sub_title h3{
    font-weight: 400;
    font-size: 36px;
    line-height: 111%;
    text-align: center;
    color: #031622;
    margin-bottom: 50px;
}
.our-products .boxes_sub_title h2{
    font-weight: 400;
    font-size: 19px;
    line-height: 158%;
    text-align: center;
    color: #225b93;
    margin-bottom: 47px;
}
.first_box_our_product{
    background: url(../img/Pen.jpg) no-repeat;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
}
.fr_box_our_product{
    background: url(../img/whitening_gel.jpg) no-repeat;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
}
.boxing-child-first .boxing-child-first-title{
    font-weight: 400;
    font-size: 45px;
    line-height: 111%;
    text-align: center;
    color: #fff;
    padding-bottom: 53px;
}
.boxing-child-first .boxing-child-first-btn
{
    background: #225b93;
    border-radius: 27px;
    width: 100%;
    height: 54px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #fff;
    padding: 14px 0;
    display: block;
    }
    

.boxing-child-first .boxing-child-first-btn:hover{
    background-color: rgb(58, 80, 80);
    color: rgb(251, 239, 239);
    text-decoration: none;
}
.second_box_our_product{
    background: rgba(158, 207, 230, 0.49);
    height: 500px;
    padding: 70px 40px 40px 40px;
}
.boxing-child-second-title{
    font-family: "robotomedium";
    font-weight: 400;
    font-size: 24px;
    line-height: 115%;
    color: #031622;
    margin-bottom: 9px;
}
.boxing-child-second-price{
    margin: 8px;
    font-weight: 400;
    font-size: 18px;
    line-height: 115%;
    color: rgba(8, 38, 63, 0.6);
}
.boxing-child-second img{
  display: block;
  margin: 0 auto;
}
.boxing-child-second-btn{
    background: #225b93;
    border-radius: 27px;
    width: 100%;
    height: 54px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #fff;
    padding: 14px 0;
    display: block;
}

.boxing-child-second-btn:hover{
    background-color: rgb(58, 80, 80);
    color: rgb(251, 239, 239);
    text-decoration: none;
    
}
/* Our-Products*/

/* Our-Products - 2*/
.our-product-row{
    margin-top: 80px;
    margin-bottom: 80px;
}
.second_box_our_product-row{
    background: #edf3f6;
    height: 500px;
    padding: 70px 40px 40px 40px;
}

    

.first_box_our_product .row-bg{
    background: url(../img/whitening_gel.jpg) no-repeat;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
}

/* Our-Products - 2*/

/* Info-2*/

.second-information{
    padding-top: 131px;
    padding-bottom: 236px;
    background: #edf3f6;
   
}
.second_box_information p{
    background: #edf3f6;
    font-weight: 400;
    font-size: 36px;
    line-height: 111%;
    text-align: center;
    color: #031622; 
    box-sizing: border-box;  
}
.second_box_information img{
    padding-bottom: 29px;
    margin: 0 auto;
    display: block;
}
/* Info-2*/

/* Customer_reviews */
.customer_reviews{
    margin-bottom: 195px;
    background: #08263f;
    display: flex;
}
.box_sub_title h2{
    font-weight: 400;
    font-size: 18px;
    line-height: 167%;
    text-align: center;
    color: #fed097;
    margin-bottom: 46px;
    margin-top: 114px;
}
.box_sub_title h3{
    font-weight: 400;
    font-size: 36px;
    line-height: 111%;
    text-align: center;
    color: #fff;
    margin-bottom: 96px;
}
.box_sub_title img{
    margin: 0 auto;
    display: block;
    margin-bottom: 195px;
}
/* Customer_reviews */

/* Proven */
.proven{
    margin-top: 85px;
    margin-bottom: 95px;
    position: relative;
    
}
.proven_box{
    background: #edf3f6;
    width: 418px;
    height: 480px;
    padding: 93px 58px 20px 50px;
    top: 17%;
    left: 107%;
    position: absolute;
}

.proven_information img{
    margin: 0 auto;
    display: block;
    
}
.proven_box h2{
    font-weight: 400;
    font-size: 36px;
    line-height: 111%;
    color: #031622;
    padding-bottom: 53px;
}
.proven_box p{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #031622;
    padding-bottom: 122px;
}
.proven_box .proven_btn{
    box-sizing: border-box;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #031622;
    border: 1px solid #031622;
    border-radius: 27px;
    width: 170px;
    height: 54px;
    text-align: center;
    text-decoration: none;
    padding: 15px 35px;
    }
/* Proven */

/* guarantee */
.guarantee{
    margin-bottom: 80px;
    position: relative;
}

.guarantee_information img{
    display: block;
    margin-right: 20px;
}

.guarantee_box{
    background: #fbeed7;
    width: 418px;
    height: 480px;
    padding: 93px 58px 20px 50px;
    top: 70px;
    left: -32%;
    position: absolute; 
}
.guarantee_box h2{
    font-weight: 400;
    font-size: 36px;
    line-height: 111%;
    color: #031622;
    padding-bottom: 53px;
}

.guarantee_box p{
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #031622;
padding-bottom: 98px;
}

.guarantee_box .guarantee_btn{
    box-sizing: border-box;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #031622;
    border: 1px solid #031622;
    border-radius: 27px;
    width: 170px;
    height: 54px;
    text-align: center;
    text-decoration: none;
    padding: 15px 35px;
    }

/* Footer */

.auraglow_bottom{
    display: flex;
    align-content: flex-end;
    flex-wrap: nowrap;
    background: #08263f;
    margin-right: -15px;
    margin-left: -15px;
    font-family: "robotoregular";
    padding-top: 100px;
    padding-bottom: 25px;

}

.auraglow_bottom_information{
    display: flex;
    flex-direction: column;
}
.all_information{
    box-sizing: border-box;
}

.bottom_inform {
    display: flex;

}
.bottom_inform img {
    padding-top: 95px;
}
.list_menu label{
    font-weight: 400;
    font-size: 18px;
    line-height: 167%;
    color: #fed097;
    margin-bottom:30px ;
}
.list_menu li {
    margin-bottom: 10px; 
    text-decoration: none;
}
.list_menu a {
    font-size: 16px;
    line-height: 115%;
    color: #fff; 
}
.list_menu a:hover{
    color: #fdefae; 
    text-decoration: none;
}
.auraglow{
    padding-bottom: 60px;
    margin-left: 70px;
    font-weight: 400;
    font-size: 16px;
    line-height: 115%;
    color: #fff;
    margin-top: 370px;
    left: 25px;
}
.auraglow_bottom_information ul{
    list-style: none;
    text-decoration: none;
}
.bottom_inform  li a{
    font-weight: 400;
    font-size: 16px;
    line-height: 115%;
    color: #fff;
    margin-bottom: 79px;
    text-decoration: none;
    padding-bottom: 16px;
}
.sign_up h3{
    margin-top: 95px;
    font-weight: 400;
    font-size: 16px;
    line-height: 115%;
    color: #fff;

}
.sign{
    margin-bottom: 224px;

}
.sign_up hr{
    background-color: #fff;
    margin-top: 10px;
}
 
.btn_bottom {
    display: block;
    border: 1px solid #fff;
    border-radius: 27px;
    width: 175px;
    height: 54px;   
    margin-top: 29px;
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #fff;
    text-decoration: none;
    padding: 15px 48px;
    cursor: pointer;
}
.btn_bottom:hover{
    color: #fdefae; 
    text-decoration: none;
}
.auraglow_logo{
    margin-left: 10px;
}
.label {
    font-weight: 400;
    font-size: 18px;
    line-height: 167%;
    color: #fed097;
    margin-bottom: 60px;
    margin-top: 90px;
}
.sign_up{
    font-weight: 400;
    font-size: 16px;
    line-height: 115%;
    color: #fff;
    margin-bottom: 60px;
    text-decoration: none;
}

.sign .icons{
    left: 24px;
    margin-top: 35px;
    margin-bottom: 226px;
}

.parent_modal{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgb(0,0,0,0.7);
    top: 0;
    left: 0;
}
    .wrapp_modal{
    width: 300px;
    background: linear-gradient(90deg, rgba(248,255,247,1) 0%, rgba(215,240,255,1) 45%);
    position: absolute;
    top:50%;
    left:50%;
    padding: 15px 20px;
    transform: translate(-50%,-50%);
    border: solid 2px #e1cdcd99;
    border-radius: 15px;
}
.form_modal h2{
    text-align: center;
    margin-top: 15px;
    font-size: 25px;
    color: #211a4d;
}
.form_modal .in_put{
    width: 100%;
    display: block;
    margin-bottom: 15px;
    padding: 5px 10px;
    border:#0d0b53 solid 1px;
    border-radius: 10px;
    font-size: 15px;
    color: #000000;
    box-sizing: border-box;
    outline: none;
}
.exit{
    cursor: pointer;
    right: 13px;
    top: 8px;
    font-size: 20px;
    position: absolute;
    color: #000000;
}

.btn_form{
    background-color: #ffedd6;
    border: solid 2px #d2d2d2;
    border-radius: 15px;
    color: rgb(19, 3, 85);
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 0 auto;
    cursor: pointer;
    transition: all 0.4s ease;
}
.btn_form:hover{
    background-color: #a1a1a1;
    border: solid 2px #a1a1a1;
    color: #121010;
    
}
.wrapp_modal hr{
    margin: 15px;
    border: solid 1px rgb(24, 203, 0) 0%, rgb(6, 82, 130) 45%;
    background: linear-gradient(90deg, rgba(248,255,247,1) 0%, rgba(215,240,255,1) 45%);
    
}

/* Footer */


/*  font-family: "robotoblack";
font-family: "robotoblack_italic";
font-family: "robotobold";
font-family: "robotobold_italic";
ont-family: "robotoitalic";
font-family: "robotolight";
font-family: "robotolight_italic";
font-family: "robotomedium";
font-family: "robotomedium_italic";
font-family: "robotoregular";
font-family: "robotothin";
font-family: "robotothin_italic";
*/
