
body{
    font-family: 'open_sansregular';  
}
.block h1{
    font-family: 'open_sanslight'; 
}
.block p{
    font-family: 'open_sansbold'; 
}

/*
    font-family: 'open_sansregular';
    font-family: 'open_sansbold';
    font-family: 'open_sansextrabold';
    font-family: 'open_sansitalic';
    font-family: 'open_sansbold_italic';
    font-family: 'open_sansextrabold_italic';
    font-family: 'open_sanslight';
*/