/*general style*/
html{
    height: 100%;
   }
   html body{
     font-family: 'Roboto';
     display: flex;
     flex-direction: column;
     height: 100%;
   }
   .for_page{
    flex: 1 0 auto;
   }
   img{
    width: auto;
    max-width: 100%;
   }
   p{
    margin-bottom: 20px;
   }
   button:focus{
    box-shadow: none;
   }
   .for_page a{
     text-decoration: none;
     -moz-transition: all ease 0.4s;
     -o-transition: all ease 0.4s;
     -webkit-transition: all ease 0.4s;
     -ms-transition: all ease 0.4s;
     transition: all ease 0.4s;
   }
/*general style*/


.header{
    padding-top: 19px;
    position: relative;
    z-index: 2;
}
.nav ul{
  list-style: none; 
}
.nav ul li a{
   display: block;
   margin-right: 46px;
   color: #fff; 
   font-weight: 400;
    font-size: 16px;
    line-height: 115%;
}
.nav ul li:last-child a{
    margin-right: 0;
}

.banner{
    padding-top: 391px;
    padding-bottom: 50px;
    background: url("../img/banner.jpg") no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    margin-top: -93px;
}
.text_baner h1{
    font-weight: 400;
    font-size: 81px;
    line-height: 100%;
    color: #fff;
    padding-bottom: 50px;
}
.text_baner .banner_btn{
    display: block;
    background: #225b93;
    border-radius: 27px;
    width: 170px;
    height: 54px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
    text-align: center;
    padding: 15px 0;
}
.text_baner .banner_btn:hover{
    color: #fff;
    text-decoration: none;
    background: #000;
}
.card-head{
    position: relative;
    cursor: pointer;
}
.card-head svg{
    transition: all ease 0.5s;
}
.card-head:hover svg{
    transform: scale(1.2);
}
.card-head .card_count{
    background: #fed097;
    padding: 3px;
    font-weight: 400;
    font-size: 15px;
    line-height: 115%;
    text-align: center;
    color: #031622;
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: -1;
    top:-10px;
    left:19px;
}

.information{
    background: #08263f;
    padding-top: 141px;
    padding-bottom: 135px;
}
.box-information h2{
    font-weight: 400;
    font-size: 19px;
    line-height: 158%;
    text-align: center;
    color: #fed097;
    margin-bottom: 29px;
}
.box-information p{
    font-weight: 400;
    font-size: 36px;
    line-height: 128%;
    text-align: center;
    color: #fff;
}

.promises{
    background: #edf3f6;
    padding-top: 71px;
    padding-bottom: 92px;
}
.promises .sub-title{
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 36px;
    line-height: 111%;
    text-align: center;
    color: #031622;
}
.promises-box img{
    display: block;
    margin: 0 auto 16px;
}
.promises-box .title-promises{
    margin-bottom: 35px;
    font-weight: 400;
    font-size: 24px;
    line-height: 108%;
    text-align: center;
    color: #031622;
}
.promises-box .text-promises{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #031622;
}
.our-product{
    padding-top: 93px;
    padding-bottom: 180px;
}
.our-product .boxs_sub_title h2{
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 19px;
    line-height: 158%;
    text-align: center;
    color: #225b93;
}
.our-product .boxs_sub_title h3{
    font-weight: 400;
    font-size: 36px;
    line-height: 111%;
    text-align: center;
    color: #031622;
    margin-bottom: 50px;
}
.first-box-our-product{
    background: url('../img/whitening.jpg') no-repeat;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.boxing-child-first-title{
    font-weight: 400;
    font-size: 45px;
    line-height: 111%;
    text-align: center;
    color: #fff;
    margin-bottom: 53px;
}
.boxing-child-first-btn{
    display: block;
    border-radius: 27px;
    width: 170px;
    height: 54px;
    background: #225b93;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    padding: 14px 0;
}
.boxing-child-second-btn:hover,
.boxing-child-first-btn:hover{
    background: #000;
    text-decoration: none;
    color: #fff;
}
.second-box-our-product{
    background: rgba(158, 207, 230, 0.49);
    height: 500px;
    padding: 70px 40px 40px 40px;
}
.boxing-child-second-title{
    font-weight: 400;
    font-size: 24px;
    line-height: 115%;
    color: #031622;
    margin-bottom: 9px;
}
.boxing-child-second-price{
    font-weight: 400;
    font-size: 18px;
    line-height: 115%;
    color: rgba(8, 38, 63, 0.6);
    }
.boxing-child-second img{
    display: block;
    margin: 0 auto;
}
.boxing-child-second-btn{
    background: #225b93;
    border-radius: 27px;
    width: 100%;
    height: 54px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #fff;
    padding: 14px 0;
    display: block;
}
.our-product-row{
    margin-top: 80px;
}
.proven{
    padding-top: 85px;
    padding-bottom:45px;
}
.box-proven{
    position: relative;
    margin-left: 50px;
}
.proven-text{
    background: #edf3f6;
    max-width: 418px;
    width: 100%;
    padding: 81px 50px 20px 50px;
    position: absolute;
    right: 110px;
    bottom: 35px;
}
.proven-text .proven-text-title{
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 36px;
    line-height: 111%;
    color: #031622;
}
.proven-text p{
    margin-bottom: 124px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #031622;
}
.proven-text .proven-text-btn{
    display: block;
    width: 170px;
    height: 54px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #031622;
    border: 1px solid #031622;
    border-radius: 27px;
    text-align: center;
    padding: 15px 0;
}
.proven-text .proven-text-btn:hover{
    color: #fff;
    background: #08263f;
    text-decoration: none;
}
.carousel-partner{
    background: rgba(158, 207,230,0.49);
    padding: 60px 0;
}
#partner_carousel.owl-carousel .owl-item .item img{
    width: auto;
}
#partner_carousel.owl-carousel .owl-item .item{
    max-width: 200px;
}
.owl-carousel .owl-dots{
    display: flex;
    justify-content: center;
    margin: 20px 0;

}
.owl-carousel .owl-dots .owl-dot{
   outline: none;
}
.owl-carousel .owl-dots .owl-dot span{
   width: 15px;
   height: 15px;
   background: #08263f;
   border-radius: 100%;
   display: block;
   margin-right: 5px;
}
.owl-carousel .owl-dots .owl-dot span:hover,
.owl-carousel .owl-dots .owl-dot.active span{
        background: #225b93;
}
.video-section iframe{
    width: 100%;
    height: 356px;
}
.video-section .youtube {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: inline-block;
    overflow: hidden;
    transition: all 200ms ease-out;
    cursor: pointer;
    width: 100%;
    height: 356px;
}
.video-section .youtube .play {
    background: url('../img/youtube-play-btn.png') no-repeat; 
    background-position: 0 -50px;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    position: absolute;
    height: 50px;
    width: 69px;
    transition: none;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}
.video-section .youtube:hover .play {
    background-position: 0 0;
}
.close_menu,
.responsive{
    display: none;
}

