/*general style*/
html{
    height: 100%;
   }

   html body{
     font-family: 'Roboto';
     display: flex;
     flex-direction: column;
     height: 100%;
   }

   .for_page{
    flex: 1 0 auto;
   }

   img{
    width: auto;
    max-width: 100%;
   }

   p{
    margin-bottom: 20px;
   }

   button:focus{
    box-shadow: none;
   }

   .for_page a{
     text-decoration: none;
     -moz-transition: all ease 0.4s;
     -o-transition: all ease 0.4s;
     -webkit-transition: all ease 0.4s;
     -ms-transition: all ease 0.4s;
     transition: all ease 0.4s;
   }
/*general style*/



/* header styles */
.header{
    padding-top: 19px;
    position: relative;
    z-index: 2;
}

.nav ul{
    list-style: none;
    padding: 0;
}

.nav ul li a{
    display: block;
    margin: 0 46px 0 0;
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 115%;
}

.nav ul li:last-child a {
    margin: 0 0 0 0;
}

.card-head{
    position: relative;
    cursor: pointer;
}

.card-head svg{
    transition: all ease 0.5s;
}

.card-head:hover svg{
    transform: scale(1.2);
}

/* count */
.card-head .card-count{
    background: #fed097;
    padding: 3px;
    font-weight: 400;
    font-size: 15px;
    line-height: 115%;
    text-align: center;
    color: #031622;
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: -1;
    top:-12px;
    left:21px;
}
/* count */

/* header styles */



/* baner styles */
.baner{
    padding-top: 391px;
    padding-bottom: 50px;
    background: url("../img/banner.jpg") no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    margin-top: -71px;
}

.text_baner h1{
    font-weight: 400;
    font-size: 81px;
    line-height: 100%;
    color: white;
    padding-bottom: 50px;
}

.text_baner .baner-btn{
    display: block;
    background: #225b93;
    border-radius: 27px;
    width: 170px;
    height: 54px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: white;
    text-align: center;
    padding: 15px 0;
}

.text_baner .baner-btn:hover{
    color: white;
    text-decoration: none;
    background: #000;
}
/* baner styles */



/* about-us */
.about{
    background: #08263f;
    padding-top: 141px;
    padding-bottom: 135px;
}

.about-us h2{
    font-weight: 400;
    font-size: 19px;
    line-height: 158%;
    text-align: center;
    color: #fed097;
    margin-bottom: 29px;
}

.about-us p{
    font-weight: 400;
    font-size: 36px;
    line-height: 128%;
    text-align: center;
    color: white;
}
/* about-us */



/* promises */
.promises{
    background: #edf3f6;
    padding-top: 71px;
    padding-bottom: 92px;
}

.promises .sub-title{
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 36px;
    line-height: 111%;
    text-align: center;
    color: #031622;
}

.promises-box img{
    display: block;
    margin: 0 auto 16px;
}

.promises-box .title-promises{
    margin-bottom: 35px;
    font-weight: 400;
    font-size: 24px;
    line-height: 108%;
    text-align: center;
    color: #031622;
}

.promises-box .text-promises{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #031622;
}
/* promises */



/* our-products */
.our-product{
    padding-top: 93px;
    padding-bottom: 180px;
}

.our-product .boxs_sub_title h2{
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 19px;
    line-height: 158%;
    text-align: center;
    color: #225b93;
}

.our-product .boxs_sub_title h3{
    font-weight: 400;
    font-size: 36px;
    line-height: 111%;
    text-align: center;
    color: #031622;
    margin-bottom: 50px;
}

/* first-product */
.first-box-our-product{
    background: url('../img/whitening.jpg') no-repeat;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.boxing-child-first-title{
    font-weight: 400;
    font-size: 45px;
    line-height: 111%;
    text-align: center;
    color: white;
    margin: 56px 0 53px;
}

.boxing-child-first-btn{
    display: block;
    border-radius: 27px;
    width: 170px;
    height: 54px;
    background: #225b93;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: white;
    margin: 0 auto;
    padding: 14px 0;
}

.boxing-child-second-btn:hover,
.boxing-child-first-btn:hover{
    background: #000;
    text-decoration: none;
    color: white;
}

.our-product .second-box-our-product{
    background: rgba(158, 207, 230, 0.49);
    height: 500px;
    padding: 70px 40px 40px;
}

.boxing-child-second-title{
    font-weight: 400;
    font-size: 24px;
    line-height: 115%;
    color: #031622;
    margin-bottom: 9px;
}

.boxing-child-second-price{
    display: inline-block;
    font-weight: 400;
    font-size: 18px;
    line-height: 115%;
    color: rgba(8, 38, 63, 0.6);
}

.boxing-child-second img{
    display: block;
    margin: 0 auto;
}

.boxing-child-second-btn{
    background: #225B93;
    border-radius: 27px;
    width: 100%;
    height: 54px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: white;
    padding: 14px 0;
    display: block;
}
/* first-product */


/* second-product */
.our-product-row{
    margin-top: 80px;
}

.our-product .third-box-our-product{
    background: #EDF3F6;
    height: 500px;
    padding: 70px 40px 40px 40px;
}

.four-box-our-product{
    background: url('../img/Refills.png') no-repeat;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
/* second-product */

/* our-products */


.about-second{
    background-color: #EDF3F6;
}
.about-us-second{
    text-align: center;
    padding-top: 131px;
    padding-bottom: 236px;
}

.about-second .about-us-second p{
    margin: 29px 0 0;
    font-size: 36px;
    line-height: 111%;
    text-align: center;
    color: #031622;
}

.Reviews{
    background-color: #08263F;
}

.Reviews h2{
    margin-top: 114px;
    font-weight: 400;
    font-size: 18px;
    line-height: 167%;
    text-align: center;
    color: #fed097;
}

.Reviews p{
    margin-top: 46px;
    font-size: 36px;
    line-height: 111%;
    text-align: center;
    color: #fff;
}

.Reviews img{
    margin-top: 89px;
    padding-bottom: 195px;
}

.CustomerReview{
    background-image: url(/img/CustomerRev.jpg);
}

.proven{
    padding-top: 85px;
    padding-bottom:45px;
}

.box-proven{
    position: relative;
    margin-left: 50px;
}

.proven-text{
    background: #edf3f6;
    max-width: 418px;
    width: 100%;
    padding: 81px 50px 20px 50px;
    position: absolute;
    right: 110px;
    bottom: 35px;
}

.proven-text .proven-text-title{
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 36px;
    line-height: 111%;
    color: #031622;
}

.proven-text p{
    margin-bottom: 124px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #031622;
}

.proven-text .proven-text-btn{
    display: block;
    width: 170px;
    height: 54px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #031622;
    border: 1px solid #031622;
    border-radius: 27px;
    text-align: center;
    padding: 15px 0;
}

.proven-text .proven-text-btn:hover{
    color: #fff;
    background: #08263f;
    text-decoration: none;
}



.box2-proven{
    position: relative;
    margin-top: 170px;
    margin-left: 50px;
}

.proven2-text{
    background: #fbeed7;
    max-width: 418px;
    width: 100%;
    padding: 81px 50px 20px 50px;
    position: absolute;
    bottom: 65.525px;
}

.proven2-text .proven2-text-title{
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 36px;
    line-height: 111%;
    color: #031622;
}

.proven2-text p{
    margin-bottom: 124px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #031622;
}


.proven2-text .proven2-text-btn{
    display: block;
    width: 170px;
    height: 54px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #031622;
    border: 1px solid #031622;
    border-radius: 27px;
    text-align: center;
    padding: 15px 0;
}

.proven2-text .proven2-text-btn:hover{
    color: #fff;
    background: #08263f;
    text-decoration: none;
}

.proven2-img img{
   margin-left: 240px; 
}

.footer{
    background-color: #08263F;
    padding-top: 100px;
    padding-bottom: 60px;
}

.footer .copyright{
    margin-top: 372px;
    font-size: 16px;
    line-height: 115%;
    color: #fff;
}

.footer ul{
    list-style: none;
    padding: 0;
}

.footer h2 {
    font-size: 18px;
    line-height: 167%;
    color: #fed097;
    margin-bottom: 40px;
}

.footer li{
    margin-bottom: 16px;
}

.footer li a{
    font-size: 16px;
    line-height: 115%;
    color: #fff;
    
}

.subscribeForm p{
    margin: 0;
}

.subscribeForm h2{
    font-size: 16px;
    line-height: 115%;
    color: #fff;
}

.subscribeForm #email{
    outline: none;
    border: none;
    min-width: 100%;
    max-width: 100%;
    border-bottom: 1px solid #fff;
    background-color: inherit;
    color: #fff;
    margin-bottom: 33px;
}

.subscribeForm #submit{
    border: 1px solid #fff;
    border-radius: 27px;
    width: 171px;
    height: 54px;
    background-color: inherit;
    color: #fff;
}

.subscribeForm #submit:hover{
    background-color: #ffffff;
    color: #000000;
    transition: all 0.4s ease;
}

.social{
    margin-top: 50px;
}

.social a:nth-child(1){
    margin-right: 24px;
}

